.text-container {
    width: 25%;
    height: 100%;
    padding: 10px;
    text-align: justify;
    background-color: burlywood;
}

#container-graphic {
    padding: 10px;
    background-color: transparent;
    float: top;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
}

svg {
    height: 500px;
}

.axis {
    font-size: 14px;
}